
	Hi , this is try page.

<p>thingVar is now <%= thingVar %> </p>

<% if(thingVar.toLowerCase() == "kimie") { %>
	<p> Nice work! you get it.</p>
	
<% } else { %>
	<p> Bad choice! Enter again.</p>
<% } %>


