<!doctype html>
<html lang="en">
	
<% include ./header %>
	
  <body>
    <form class="form-signin" action = "/user" method = "POST">
      <div class="text-center mb-4">
        <img class="mb-4" src="logoblack.png" alt="" width="288" height="72">
        <h1 class="h4 mb-3 font-weight-normal" style="color:dimgray">Connect with your favorite movies</h1>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" name = "userName" placeholder="Username" required autofocus>
        <label for="inputEmail">Username</label>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" name = "email" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" name = "password" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div>
        <p>Already on movideradar? <a href="/signin">Log in now >></a></p>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <p class="mt-4 mb-3 text-muted text-center">By continuing, you agree to movieradar’s Terms of Service and acknowledge movieradar’s Privacy Policy.</p>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>
    </form>
  </body>
</html>
